
li>a{
    font-size: 21px;
}
/*LISTA DE NAVEGACIÓN*/
/*Dispositivos hasta 750px de ancho*/
@media(max-width: 749px){
    nav ol{
        list-style: circle;
        padding-left: 0px;
        margin-left: 15px;
    }
    li{
        font-size: 20px;
        margin: 15px;
    }
}
/*dispositivos con un ancho mayor a 749*/
@media(min-width:750px){
    nav ol{
        list-style: none;
        padding: 0;
        width: 100%;
    }
    nav li{
        line-height: 3rem;
        position: relative;
    }
    /*PRIMER NIVEL*/
    nav>ol>li{ /*para elegir a las li que están en el primer nivel*/
        float: left;
        width: 20%;
        text-align: center;
    }
    nav>ol{
        background-color: rgb(247, 172, 128);
        display: table;
        width: 100%;
    }
    
    nav>ol>li:hover{
    background-color: rgb(243, 159, 110);
    transition: ease-in 0.2s;
    }
}
/*FIN LISTA DE NAVEGACIÓN*/

/*IMAGENES*/
img{
    width: 225px;
}
figure{
    text-align: center;
}
section:nth-of-type(4)>article>div>img:nth-of-type(1){
    width: 350px;
}
/*PÁRRAFOS Y FIGCAPTION*/

p>a{
    font-size: 23px;
}
figcaption{
    font-size: 17.5px;
    margin-top: 7px;
}

/*LISTA DEL PRIMER CASO*/
ul{
    list-style: circle;
    font-size: 24px;
}
ul>li{
    margin-bottom: 20px;
}

