
h1{
    font-family: "Eater";
    color: #DC143C;
    -webkit-text-stroke: 0.5px black;
    font-size: 50px;
}
h2{
    font-family: "Rubik Wet Paint";
    color: red;
    -webkit-text-stroke: 1px black;
    font-size: 40px;
}
h3{
    font-family: "Sancreek";
    font-size: 35px;
    color: #b34242;
    -webkit-text-stroke: 0.05px black;
}
body{
    background-color: #36454F;
    margin-left: 50px;
    margin-right: 40px;
}
p{
    color: rgb(220, 217, 217);
    font-size: 20px;
}
li{
    list-style-type:circle;
    padding: 5px;
    color: rgb(189, 185, 185);
}
.paginas{
    color: rgb(164, 159, 159);
    text-decoration: underline wavy 2px rgb(164, 159, 159);
}
a{
    color: inherit;
    text-decoration: inherit;
}
.volver{
    text-align: right;
    padding-right: 10px;
}