a{
    color: inherit;
    text-decoration: none;
}
p.volver{
    text-align: right;
}
body{
    background-color: #f6b4b1;
}
h1{
    background-color: #d67976;
    border: 5px dotted #A52A2A;
    color: whitesmoke;
}
h2{
    border: 1px solid #111;
}